<h1 class="header">My Album Collection</h1>

<table class="myalbums">
	<th>
		<td>Album</td>
		<td>Artist</td>
		<td>Delete</td>
	</th>
	<% @useralbums.each do |album| %>
		<!-- album name -->
	<tr>
		<td></td>
		<td>
			<%= link_to album.album_name, album_path(album.id) %>
		</td>
		<!-- album artist -->
		<td>
			<%= link_to album.artist.artist_name, artist_path(album.artist.id)%>
		</td>
		<!-- album delete button -->
		<td>
			<%= link_to '', user_album_path(:id => album.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-remove" %>
		</td>
	</tr>
	<% end %>	
</table>

<%= render 'form' %>
Cant find the album you are looking for?
<%= link_to 'Add a new album to our Album Database', new_album_path %>
