<!DOCTYPE html>
<html>
<head>
  <title>Recordly</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% unless user_signed_in?%>
            <div class="navbar navbar-default">
              <ul class="nav navbar-nav navbar-right">
                <li class="<%= "active" if current_page?("/users/sign_up") %>">
                  <%= link_to "Sign Up", new_user_registration_path%>
                  </li>
                <li class="<%= "active" if current_page?("/users/sign_in") %>">
                  <%= link_to "Sign In", new_user_session_path %>
                  </li>
              </ul>
            </div>
          <%end%>

          <% if user_signed_in?%>
          <div class="navbar navbar-default">
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "My Albums", user_user_albums_path(current_user.id) %></li>
              <li> <%= link_to current_user.email, edit_user_registration_path %></li>
               <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            </ul>
          </div>
          <%end%>
<%= yield %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

</body>
</html>
